{% for alert in app.session.flashbag.get('Error') %}
    <script>
        var error = "{{ alert|raw }}";
        swal({
            title: 'Fehler!',
            html: error,
            type: 'error',
            confirmButtonText: 'Schließen'
        })
    </script>
{% endfor %}
{% for alert in app.session.flashbag.get('Success') %}
    <script>
        var response = "{{ alert|raw }}";
        swal({
            title: 'Erfolgreich!',
            html: response,
            type: 'success',
            confirmButtonText: 'Schließen'
        })
    </script>
{% endfor %}