<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ gTitle }}{% if title is defined %} | {{ title }}{% endif %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.css">
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />

        <script src="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.js"></script>

        <!-- Angular JS -->
        <script src="https://cdn.fabian-thielen.de/js/angular.min.js"></script>
        <script src="/js/angular.ng-modules.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-pusher/0.0.14/angular-pusher.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

        <script src="/js/count.js"></script>
        <script src="/js/quotes.js"></script>
        <script src="/js/news.js"></script>
        <script src="/js/stream.js"></script>
        <!--// Angular JS -->

        <script src="/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">

        <script src="/js/jquery.mCustomScrollbar.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">

        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>
            (function($){
                $(window).load(function(){
                    $(".news, .col-stream").mCustomScrollbar({
                        theme: 'inset-dark'
                    });
                });
            })(jQuery);
        </script>
    </head>

    <body>
    <div class="container" align="center">
        <div class="noscript">
            <p style="color: red; font-size: 2em;"><b>Hinweis: </b>JavaScript muss in deinem Browser aktiviert sein, damit die Seite korrekt funktioniert!</p>
        </div>
        <script>
            $(".noscript").css("display", "none");
        </script>

        {% if title != "404 - Seite nicht gefunden" and title != "500 - Serverfehler" %}
            {% include 'templates/nav.twig' %}
        {% endif %}

        {% include 'templates/alerts.twig' %}
        {% block content %}{% endblock %}
    </div>
    <script src="/js/script.js"></script>
    <script>
        tinymce.init({
            selector:'textarea.about_ta'
        });

        tinymce.init({
            selector:'textarea.edit_news'
        });

        tinymce.init({
            selector: 'textarea.ctext'
        });

        $(document).on('focusin', function(e) {
            if ($(e.target).closest(".mce-window").length) {
                e.stopImmediatePropagation();
            }
        });
    </script>
    </body>
</html>
