<fieldset>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="reason">E-Mail Adresse</label>
        <div class="col-md-4">
            <input id="email" name="email" type="text" placeholder="E-Mail Adresse" class="form-control input-md contact_block_form_field" readonly required="">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="reason">Grund</label>
        <div class="col-md-4">
            <input id="reason" name="reason" type="text" placeholder="Grund" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Prepended checkbox -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="prependedcheckbox">Gebannt bis</label>
        <div class="col-md-4">
            <div class="input-group block_perma">
              <span class="input-group-addon">
                  <input type="checkbox" checked="checked" class="block_checkbox" name="block_checkbox">
              </span>
            <input id="prependedcheckbox" name="block_date" class="form-control block_date" type="text" placeholder="Datum">
            </div>
            <p class="help-block">Datum, wenn nicht permanent</p>
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <div class="col-md-4">
            <button id="" name="" class="btn btn-primary">Blockieren</button>
        </div>
    </div>

</fieldset>