<nav class="navbar navbar-default navbar-fixed-top" ng-modules="thamian" ng-controller="CountController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ gTitle }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">Über mich</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bot <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('bot.quotes') }}">Quotes</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="{{ path('bot.points') }}">Befehle</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('gbuch') }}">Gästebuch</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Server <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('server.gaming') }}">Gamingserver</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="{{ path('server.teamspeak') }}">Teamspeak</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/ThamianPlay-727173687384667" target="_blank" class="social-facebook fadeIn" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="https://www.twitter.com/ThamianPlay" target="_blank" class="social-twitter fadeIn" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.twitch.tv/thamianplay" target="_blank" class="social-twitch fadeIn" data-toggle="tooltip" data-placement="bottom" title="Twitch"><i class="fa fa-twitch"></i></a></li>
                {% if Username is defined and Username is not empty %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{ Username }}{% if Group is defined and Group is not empty %} ({{ Group }}){% endif %} {% if SupCount.Anzahl + GB_Count.Anzahl != "0" %}<span class="badge" ng-bind="count"></span>{% endif %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if Group is defined and Group == "Administrator" %}
                                <li class="dropdown-header">Adminmenü</li>
                                <li><a href="{{ path('settings.user') }}"><i class="fa fa-users" aria-hidden="true"></i> Benutzerverwaltung</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('backend.content') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inhalt</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="{{ path('backend.news') }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
                                <li class="divider" role="separator"></li>
                            {% endif %}
                            <li class="dropdown-header">Standardmenü</li>
                            <li><a href="{{ path('backend.wiki') }}"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> Wiki-Seiten</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="{{ path('backend.teamspeak') }}"><i class="fa fa-microphone" aria-hidden="true"></i> TS-Rechte</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="{{ path('settings.user.password') }}"><i class="fa fa-key" aria-hidden="true"></i> Passwort ändern</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('backend.user.change_email') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-Mail Adresse ändern</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('backend.contact') }}"><i class="fa fa-question-circle" aria-hidden="true"></i> Supportanfragen{% if SupCount is defined and SupCount is not empty and SupCount.Anzahl != "0" %}  <span class="badge" ng-bind="countSup"></span>{% endif %}</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="{{ path('backend.block') }}"><i class="fa fa-ban"></i> Blockierte Adressen</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="{{ path('backend.gbuch') }}"><i class="fa fa-book" aria-hidden="true"></i> Gästebuch{% if GB_Count is defined and GB_Count is not empty and GB_Count.Anzahl != "0" %}  <span class="badge" ng-bind="countGB"></span>{% endif %}</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('devlogin') }}">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>