body
  margin-top: 70px

.table-custom
  border: 4px solid #000
  margin-bottom: 20px
  th
    border: 3px solid #000 !important
  td
    border: 2px solid #000 !important
  th, td
    padding: 5px 10px
    text-align: center

.table-users
  th, td
    padding: 5px 10px
    text-align: center

.h_form_btn, .unblock_form_btn
  border: none
  background: none
  padding: 0px
  i
    color: red

.open_chug
  &:hover
    cursor: pointer

.sup-tools
  a
    background: none
    border: none
    .fa-trash, .fa-ban, .fa-times
      color: red
    .fa-reply, .fa-check
      color: #1dc116

.contact_status_open, .stream-offline
  color: red !important
.contact_status_in_progress
  color: orange
.contact_status_closed, .stream-online
  color: green !important

.panel_backend_gbuch
  .panel-title
    a
      color: darkblue

.ui-datepicker
  position: relative
  z-index: 10000 !important

.panel-tweets
  text-align: left
  //width: 70%
  ul
    list-style: none
    li
      display: list-item
      text-align: left
      vertical-align: baseline
      margin-left: -40px
      border: 4px solid lighten(#575757, 9.8)
  .panel-heading
    background-color: #333
    color: #fff
  .panel-body
    background-color: lighten(#575757, 10)
    color: #fff
  .twFeedItem
    background-color: lighten(#575757, 8) !important
  .panel-title
    a
      color: lightblue
  .fav_count
    float: right
    color: lightblue !important
    text-decoration: none
    &:hover
      color: orange !important
      transition: all 800ms
  .tweet
    a
      color: lighten(#575757, 55) !important