body {
  margin-top: 70px; }

.table-custom {
  border: 4px solid #000;
  margin-bottom: 20px; }
  .table-custom th {
    border: 3px solid #000 !important; }
  .table-custom td {
    border: 2px solid #000 !important; }
  .table-custom th, .table-custom td {
    padding: 5px 10px;
    text-align: center; }

.table-users th, .table-users td {
  padding: 5px 10px;
  text-align: center; }

.h_form_btn, .unblock_form_btn {
  border: none;
  background: none;
  padding: 0px; }
  .h_form_btn i, .unblock_form_btn i {
    color: red; }

.open_chug:hover {
  cursor: pointer; }

.sup-tools a {
  background: none;
  border: none; }
  .sup-tools a .fa-trash, .sup-tools a .fa-ban, .sup-tools a .fa-times {
    color: red; }
  .sup-tools a .fa-reply, .sup-tools a .fa-check {
    color: #1dc116; }

.contact_status_open, .stream-offline {
  color: red !important; }

.contact_status_in_progress {
  color: orange; }

.contact_status_closed, .stream-online {
  color: green !important; }

.panel_backend_gbuch .panel-title a {
  color: darkblue; }

.ui-datepicker {
  position: relative;
  z-index: 10000 !important; }

.panel-tweets {
  text-align: left; }
  .panel-tweets ul {
    list-style: none; }
    .panel-tweets ul li {
      display: list-item;
      text-align: left;
      vertical-align: baseline;
      margin-left: -40px;
      border: 4px solid #707070; }
  .panel-tweets .panel-heading {
    background-color: #333;
    color: #fff; }
  .panel-tweets .panel-body {
    background-color: #717171;
    color: #fff; }
  .panel-tweets .twFeedItem {
    background-color: #6b6b6b !important; }
  .panel-tweets .panel-title a {
    color: lightblue; }
  .panel-tweets .fav_count {
    float: right;
    color: lightblue !important;
    text-decoration: none; }
    .panel-tweets .fav_count:hover {
      color: orange !important;
      transition: all 800ms; }
  .panel-tweets .tweet a {
    color: #e3e3e3 !important; }

/*# sourceMappingURL=style.css.map */
