{% extends 'templates/master.twig' %}

{% block content %}
    {% if title == "Benutzerverwaltung" %}

        <h1>{{ title }}</h1>

        <div class="well">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_useradd">Benutzer hinzufügen</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_useradd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Benutzer hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('settings.user.add') }}" method="post">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="username">Benutzername</label>
                                    <div class="col-md-4">
                                        <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="password">Passwort</label>
                                    <div class="col-md-4">
                                        <input id="password" name="password" type="password" placeholder="Passwort" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="password_rp">Passwort wiederholen</label>
                                    <div class="col-md-4">
                                        <input id="password_rp" name="password_rp" type="password" placeholder="Passwort wiederholen" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-info btn-sm" onclick="genpw();">Passwort generieren</a>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-md-4 control-label">E-Mail Adresse</label>
                                    <div class="col-md-4">
                                        <input type="email" id="email" name="email" placeholder="E-Mail Adresse" class="form-control input-md" required>
                                    </div>
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="group">Gruppe</label>
                                    <div class="col-md-4">
                                        <select id="group" name="group" class="form-control">
                                            {% for group in groups %}
                                                <option value="{{ group.ID }}">{{ group.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for=""></label>
                                    <div class="col-md-4">
                                        <button id="" name="" class="btn btn-primary">Eintragen</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Benutzer</h3>
            </div>
            <div class="panel-body">
                <div class="well" style="border-bottom: 1px solid #000000;">
                    <b>Nach Benutzernamen filtern:</b><br />
                    <input type="text" onkeyup="filterTable()" id="user_filter" style="text-align: center;" placeholder="Benutzername">
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Benutzername</th>
                            <th>Gruppe</th>
                            <th>E-Mail Adresse</th>
                            <th>Zuletzt angemeldet</th>
                            <th>Löschen</th>
                            <th>Gruppe ändern</th>
                        </tr>
                        </thead>
                        <tbody id="user_filter_table">
                        {% for user in users %}
                            <tr>
                                <td>{{ user.ID }}</td>
                                <td>{{ user.Username }}</td>
                                <td>{{ user.Name }}</td>
                                <td>{{ user.Email }}</td>
                                <td>{% if user.Last_Login is not empty %}{{ user.Last_Login }}{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
                                <td>
                                    {% if user.Name == "Administrator" %}
                                    <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Administratoren können nicht gelöscht werden!"></i>
                                        {% else %}
                                            <form action="{{ path('settings.user.del') }}" method="post" class="form_user_del" data-user="{{ user.Username }}">
                                                <input type="hidden" name="uID" value="{{ user.ID }}">
                                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">
                                                <span class="h_form_btn"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                            </form>
                                        {% endif %}
                                </td>
                                <td>
                                    <a class="open_chug" data-uid="{{ user.ID }}" data-uname="{{ user.Username }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_changeUserGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="chugTitle">Gruppe ändern</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('settings.user.chug') }}" method="post">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="username">Benutzername</label>
                                    <div class="col-md-4">
                                        <input id="chug_username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" required="" readonly>

                                    </div>
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="group">Gruppe</label>
                                    <div class="col-md-4">
                                        <select id="group" name="group" class="form-control">
                                            {% for group in groups %}
                                                <option value="{{ group.ID }}">{{ group.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">
                                <input type="hidden" name="uID" id="chug_uID">

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for=""></label>
                                    <div class="col-md-4">
                                        <button id="" name="" class="btn btn-primary">Ändern</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% elseif title == "Passwort ändern" %}
        <h1>{{ title }}</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="{{ path('settings.user.password.change') }}" method="post">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername</label>
                            <div class="col-md-4">
                                <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" value="{{ Username }}" readonly>

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="pwold">Altes Passwort</label>
                            <div class="col-md-4">
                                <input id="pwold" name="pwold" type="password" placeholder="Altes Passwort" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="npw">Neues Passwort</label>
                            <div class="col-md-4">
                                <input id="npw" name="npw" type="password" placeholder="Neues Passwort" class="form-control input-md" required="">

                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Ändern</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    {% elseif title == "Supportanfragen" %}
        <h1>{{ title }}</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Supportanfragen</h4>
            </div>
            <div class="panel-body">
                {% if contact is defined and contact is not empty %}
                    {% for anfrage in contact %}
                    <div class="panel panel-default panel-contact">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{ anfrage.Subject }} - {{ anfrage.Date }} (<span class="{% if anfrage.Status == "Offen" %}contact_status_open{% elseif anfrage.Status == "In Bearbeitung" %}contact_status_in_progress{% elseif anfrage.Status == "Erledigt" %}contact_status_closed{% endif %}">{{ anfrage.Status }}</span>)</h4>
                        </div>
                        <div class="panel-body">
                            <p>Von: {{ anfrage.Name }} (<a href="mailto:{{ anfrage.Email }}">{{ anfrage.Email }}</a>)</p>
                            <div class="well">
                                <p>{{ anfrage.Message|raw }}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="sup-tools">
                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-xs" href="{{ app.url_generator.generate('backend.contact.delete', {'id': anfrage.ID, 'user': Username, 'token': app.session.get('_token')}) }}" data-toggle="tooltip" data-placement="bottom" title="Nachricht löschen"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <a class="btn btn-xs open_block_modal" data-email="{{ anfrage.Email }}"><i class="fa fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Person blockieren"></i></a>
                                    <a class="btn btn-xs" href="mailto:{{ anfrage.Email }}" data-toggle="tooltip" data-placement="bottom" title="Antworten"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                    <a class="btn btn-xs" href="{{ app.url_generator.generate('backend.contact.done', {'id': anfrage.ID, 'user': Username, 'token': app.session.get('_token')}) }}" data-toggle="tooltip" data-placement="bottom" title="Erledigt"><i class="fa fa-check" aria-hidden="true"></i></a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h3>Keine Anfragen vorhanden!</h3>
                {% endif %}
        </div>

        <div class="modal fade" id="modal_contact_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="chugTitle">Kontakt - Person blockieren</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('backend.contact.block') }}" method="post">
                            {% include 'templates/modals.twig' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% elseif title == "Blockierte Adressen" %}
        <h1>{{ title }}</h1>

        {% if blocked is defined and blocked is not empty %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title }}</h4>
                </div>
                <div class="panel-body">

                    <table class="blocked_user table-custom">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Blockiert von</th>
                            <th>E-Mail Adresse</th>
                            <th>Grund</th>
                            <th>Gesperrt am</th>
                            <th>Gesperrt bis</th>
                            <th>Entsperren</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for adr in blocked %}
                            <tr>
                                <td>{{ adr.ID }}</td>
                                <td>{{ adr.Blocked_by }}</td>
                                <td>{{ adr.Email }}</td>
                                <td>{{ adr.Reason }}</td>
                                <td>{{ adr.Date }}</td>
                                <td>{% if adr.permanent == 1 %}Permanent{% else %}{{ adr.blocked_until }}{% endif %}</td>
                                <td>
                                    <form action="{{ path('backend.unblock') }}" method="post">
                                        <input type="hidden" name="bID" value="{{ adr.ID }}">
                                        <input type="hidden" name="email" value="{{ adr.Email }}">
                                        <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">
                                        <button class="unblock_form_btn"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">Keine Personen blockiert!</div>
        {% endif %}
    {% elseif title == "Inhalt" %}
        <h1>{{ title }}</h1>

        <p>Aktueller Inhalt:</p>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_edit_about">Inhalt bearbeiten</button>
        <div class="well">
            <p>
                {{ content.Text|raw }}
            </p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_edit_about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Inhalt bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('backend.content.post') }}" method="post">
                            <fieldset>
                                <textarea class="about_ta" id="textarea" name="text" required>
                                    {{ content.Text }}
                                </textarea><br />

                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for=""></label>
                                    <div class="col-md-4">
                                        <button id="" name="" class="btn btn-primary">Ändern</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% elseif title == "Gästebuch" %}
        <h1>{{ title }}</h1>

        {% if content is not empty %}
            {% for ct in content %}
                <div class="panel {% if ct.Verified == "0" %}panel-warning{% else %}panel-success{% endif %} panel_backend_gbuch">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{ ct.Title }}</b> von <b>{{ ct.Name }} (<a href="mailto:{{ ct.Email }}">{{ ct.Email }}</a>)</b> am <b>{{ ct.Date }}</b></h3>
                    </div>
                    <div class="panel-body">
                        {{ ct.Text|raw }}
                    </div>
                    <div class="panel-footer">
                        <ul class="sup-tools">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-xs" href="{{ app.url_generator.generate('backend.gbuch.delete', {'id': ct.ID, 'user': Username, 'token': app.session.get('_token')}) }}" data-toggle="tooltip" data-placement="bottom" title="Eintrag löschen"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a class="btn btn-xs open_block_modal" data-email="{{ ct.Email }}"><i class="fa fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Person blockieren"></i></a>
                                {% if ct.Verified == "1" %}
                                    <a href="{{ app.url_generator.generate('backend.gbuch.unval', {'id': ct.ID, 'user': Username, 'token': app.session.get('_token')}) }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="Ausblenden"><i class="fa fa-times" aria-hidden="true"></i></a>
                                {% else %}
                                    <a class="btn btn-xs" href="{{ app.url_generator.generate('backend.gbuch.val', {'id': ct.ID, 'user': Username, 'token': app.session.get('_token')}) }}" data-toggle="tooltip" data-placement="bottom" title="Anzeigen"><i class="fa fa-check" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <div class="modal fade" id="modal_contact_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="chugTitle">Kontakt - Person blockieren</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="{{ path('backend.contact.block') }}" method="post">
                                {% include 'templates/modals.twig' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Es sind keine Einträge vorhanden!
            </div>
        {% endif %}
    {% elseif title == "News" %}
        <h1>{{ title }}</h1>

        <!-- Modal -->
        <div class="modal fade" id="modal_enter_news" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">News hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('backend.news.add') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="title">Titel</label>
                                    <div class="col-md-4">
                                        <input id="title" name="title" type="text" placeholder="Titel" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <textarea class="about_ta" id="textarea" name="text" required>

                                </textarea><br />

                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for=""></label>
                                    <div class="col-md-4">
                                        <button id="" name="" class="btn btn-primary">Eintragen</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if news is not empty %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_enter_news">News hinzufügen</button>
                <a href="{{ app.url_generator.generate('backend.news.deleteAll', {'user': Username, 'token': app.session.get('_token')}) }}" class="btn btn-danger btn-sm">Alle News löschen</a>
            </div>
            {% for ct in news %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ ct.Title }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ ct.Text|raw }}
                    </div>
                    <div class="panel-footer">
                        Hinzugefügt von <b>{{ ct.Added_By }}</b> am <b>{{ ct.Date }}</b><br />
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal_edit_news_{{ ct.ID }}">Bearbeiten</button>
                            <a href="{{ app.url_generator.generate('backend.news.delete', {'id': ct.ID, 'user': Username, 'token': app.session.get('_token')}) }}" class="btn btn-danger btn-xs">Löschen</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal_edit_news_{{ ct.ID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">News bearbeiten</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" action="{{ path('backend.news.edit') }}" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="title">Titel</label>
                                            <div class="col-md-4">
                                                <input id="title" name="title" type="text" placeholder="Titel" value="{{ ct.Title }}" class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <textarea class="edit_news" name="text" required>{{ ct.Text|raw }}</textarea><br />

                                        <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">
                                        <input type="hidden" name="id" value="{{ ct.ID }}">

                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for=""></label>
                                            <div class="col-md-4">
                                                <button id="" name="" class="btn btn-primary">Ändern</button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_enter_news">News hinzufügen</button>
            <div class="alert alert-warning" role="alert">
                Es sind keine News vorhanden!
            </div>
        {% endif %}
    {% elseif title == "Teamspeak" %}
        <h1>{{ title }}</h1>

        <div class="well">
            <p>Durch einen Klick auf den unten stehenden Button erhälst du deine Rechte im Teamspeak.</p>
            <p><b>Bitte beachte, dass dein Benutzername im Teamspeak mit dem Benutzernamen der Website (<i>{{ Username }}</i>) übereinstimmen muss!</b></p>
            <a href="{{ path('backend.teamspeak.set') }}" class="btn btn-success">Rechte erhalten</a>
        </div>
    {% elseif title == "Wiki" %}
        <h1>{{ title }}</h1>

        {% if wiki is defined and wiki is not empty %}
            <div class="list-group">
            {% for ct in wiki %}
                <a class="list-group-item" href="{{ ct.Link }}" target="_blank"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ ct.Title|raw }}</a>
            {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Es sind keine Wiki-Seiten vorhanden!
            </div>
        {% endif %}
    {% elseif title == "E-Mail Adresse ändern" %}
        <h1>{{ title }}</h1>

        <div class="panel panel-primary">
            <div class="panel-body">
                <form class="form-horizontal" action="{{ path('backend.user.change_email.post') }}" method="post">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername</label>
                            <div class="col-md-4">
                                <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" value="{{ Username }}" required="" readonly>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email_old">Alte E-Mail Adresse</label>
                            <div class="col-md-4">
                                <input id="email_old" name="email_old" type="email" placeholder="Alte E-Mail Adresse" class="form-control input-md" value="{{ email_address }}" required="" readonly>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email_new">Neue E-Mail Adresse</label>
                            <div class="col-md-4">
                                <input id="email_new" name="email_new" type="email" placeholder="Neue E-Mail Adresse" class="form-control input-md" required="">
                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Ändern</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}