<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ gTitle }}{% if title is defined %} | {{ title }}{% endif %}</title>

    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

    <script src="https://cdn.fabian-thielen.de/js/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.ftcloud.de/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
</head>

<body>
<div class="container" align="center">
    <h1>{{ title }}</h1>

    {% include 'templates/alerts.twig' %}

    {% if title is defined %}
        {% if title == "Login" %}
            <div class="jumbotron">
                <form class="form-horizontal" action="{{ path('devlogin_post') }}" method="post">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername</label>
                            <div class="col-md-4">
                                <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Passwort</label>
                            <div class="col-md-4">
                                <input id="password" name="password" type="password" placeholder="Passwort" class="form-control input-md" required="">
                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <a class="btn btn-xs btn-warning" href="{{ path('login.password.reset.get') }}">Passwort vergessen?</a>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Anmelden</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        {% elseif title == "Passwort zurücksetzen" %}
            <div class="jumbotron">
                <form class="form-horizontal" action="{{ path('login.password.reset.post') }}" method="post">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername</label>
                            <div class="col-md-4">
                                <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">E-Mail Adresse</label>
                            <div class="col-md-4">
                                <input id="email" name="email" type="email" placeholder="E-Mail Adresse" class="form-control input-md" required="">

                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Passwort zurücksetzen</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        {% elseif title == "Passwort ändern" %}
            <div class="jumbotron">
                <form class="form-horizontal" action="{{ path('login.password.reset.postByMail') }}" method="post" autocomplete="off">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername</label>
                            <div class="col-md-4">
                                <input id="username" name="username" type="text" placeholder="Benutzername" class="form-control input-md" value="{{ username }}" required="" readonly>

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">E-Mail Adresse</label>
                            <div class="col-md-4">
                                <input id="email" name="email" type="email" placeholder="E-Mail Adresse" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="new_password">Neues Passwort</label>
                            <div class="col-md-4">
                                <input id="new_password" name="new_password" type="password" placeholder="Neues Passwort" class="form-control input-md" required="">

                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Passwort ändern</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        {% else %}
            <div class="jumbotron">
                <p>Diese Seite ist derzeit in Entwicklung.</p>

                <a href="{{ url('devlogin') }}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Entwickler-Login</a>
            </div>
        {% endif %}
    {% endif %}
</div>
</body>
</html>