{% extends 'templates/master.twig' %}

{% block content %}
    {% if title == "404 - Seite nicht gefunden" %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">{{ title }}</h4>
            </div>
            <div class="panel-body">
                <p>Die Seite, die du aufrufen willst, existiert nicht!</p>
                <p>Du kannst entweder den Support über den unten stehenden Link kontaktieren,</p>
                <p>oder zur <a href="{{ path('home') }}">Homepage</a> zurück gehen.</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary btn-sm" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                <a class="btn btn-primary btn-sm" href="{{ path('contact') }}"><i class="fa fa-question-circle" aria-hidden="true"></i> Kontakt</a>
            </div>
        </div>
    {% elseif title == "500 - Serverfehler" %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">{{ title }}</h4>
            </div>
            <div class="panel-body">
                <p>{{ status }}</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary btn-sm" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                <a class="btn btn-primary btn-sm" href="{{ path('contact') }}"><i class="fa fa-question-circle" aria-hidden="true"></i> Kontakt</a>
            </div>
        </div>
    {% endif %}
{% endblock %}