{% extends 'templates/master.twig' %}

{% block content %}
    {% if title == "Home" %}
        <h1>{{ title }}</h1>

        <div class="col-md-6 col-stream" style="border-right: 1px solid #000; overflow-y: auto;" ng-modules="thamianStream" ng-controller="StreamController">
            <h3 class="h3_stream_status"></h3>

            <div class="well well_stream">
                <p class="online_stream_stat"></p>
                <p tabindex="0" class="online_stream_title"></p>
                <div class="embed-responsive embed-responsive-16by9 online_stream_embed"></div>
                <div class="watch_button"></div>
            </div>

            <div class="panel panel-default panel-tweets">
                <div class="panel-heading">
                    <h3 class="panel-title">Tweets von <a href="https://twitter.com/ThamianPlay" target="_blank">ThamianPlay</a></h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for tweet in tweets if tweet.text matches '\bBeardFreakz\b' %}
                            <li class="twFeedItem">
                                <div class="tweet">
                                    {{ tweet.text | raw }}
                                </div>
                                <a href="https://twitter.com/ThamianPlay/status/{{ tweet.id }}" class="btn btn-default btn-xs postedAt" target="_blank">
                                    {{ tweet.datum }}
                                </a>
                                <a href="https://twitter.com/intent/like?tweet_id={{ tweet.id }}" class="fav_count" target="_blank">
                                    <i class='fa fa-heart' aria-hidden='true'></i> {{ tweet.fav_count }}
                                </a>
                            </li>
                        {% else %}
                            <li class="alert alert-warning">Keine Tweets vorhanden!</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-news">
            <h3>News</h3>

            <div class="news" style="overflow-y: auto" ng-modules="thamianNews" ng-controller="NewsController">
                <div class="bknews" ng-repeat="eintrag in news">
                    <b ng-if="!eintrag[0].length">Keine News vorhanden!</b>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><b>Titel:</b> {% verbatim %}{{ eintrag.Title }}{% endverbatim %} | <b>Art:</b> Intern</h4>
                        </div>
                        <div class="panel-body" ng-bind-html="eintrag.Text"></div>
                        <div class="panel-footer">
                            Hinzugefügt von <b>{% verbatim %}{{ eintrag.Added_By }}{% endverbatim %}</b> am <b>{% verbatim %}{{ eintrag.Date }}{% endverbatim %}</b>
                        </div>
                    </div>
                </div>
                <div class="twnews" ng-repeat="eintrag in twnews">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><b>Art:</b> <span data-toggle="tooltip" data-placement="top" title="Twitch-Feeds sind die Posts, die Thamian unter seinem Twitch-Stream getätigt hat.">Twitch-Feed <i class="fa fa-twitch" aria-hidden="true" style="color: #6441a5;"></i></span></h4>
                        </div>
                        <div class="panel-body">
                            {% verbatim %}{{ eintrag.body }}{% endverbatim %}
                        </div>
                        <div class="panel-footer">
                            Hinzugefügt von <b>{% verbatim %}{{ eintrag.user.display_name }}{% endverbatim %}</b> am <b>{% verbatim %}{{ eintrag.created_at }}{% endverbatim %}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elseif title == "Quotes" %}
        <h1>{{ title }}</h1>

        <div class="ct-quotes" ng-modules="thamianQuotes" ng-controller="QuotesController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Erklärung:</h4>
                </div>
                <div class="panel-body">
                    <p class="quotes-anzahl">Es gibt insgesamt <b ng-bind="quoteCount"></b> Quotes.</p>
                    <p class="beschreibung">
                        Die Quotes kannst du abrufen, indem du im Chat !quote ID eingibst, wobei "ID" durch die entsprechende ID zu ersetzen ist.<br />
                        Wenn keine ID eingegeben wird, wird ein random Quote ausgegeben.<br />
                        Auf dem Befehl sind 10 Sekunden Cooldown. Das heißt, dass der Befehl nur alle 10 Sekunden ausgeführt werden kann.<br />
                        Mods sind vom Cooldown ausgeschlossen.
                    </p>
                </div>
            </div>

            <div class="table-responsive">
                <table class="tabelle-quotes table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>Gesagt von</th>
                        <th>Spiel (Falls vorhanden)</th>
                        <th>Eingetragen am</th>
                    </tr>

                    <tr ng-repeat="(key, quote) in quotes">
                        <td>{% verbatim %}{{ key }}{% endverbatim %}</td>
                        <td>{% verbatim %}{{ quote[1] }}{% endverbatim %}</td>
                        <td>{% verbatim %}{{ quote[0] }}{% endverbatim %}</td>
                        <td ng-if="quote[3].length">{% verbatim %}{{ quote[3] }}{% endverbatim %}</td>
                        <td ng-if="!quote[3].length"><i class="fa fa-times" aria-hidden="true"></i></td>
                        <td>{% verbatim %}{{ quote[2] }}{% endverbatim %}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% elseif title == "Befehle" %}
        <h1>{{ title }}</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Befehl</th>
                    <th>Ausgabe/Aktion</th>
                </tr>
                {% for key,command in commands %}
                    <tr>
                        <td>!{{ key }}</td>
                        <td>{{ command }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% elseif title == "Kontakt" %}
        <h1>{{ title }}</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Kontakt</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="{{ path('contact.post') }}" method="post" name="contactForm">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-4">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">E-Mail Adresse</label>
                            <div class="col-md-4">
                                <input id="email" name="email" type="text" placeholder="E-Mail Adresse" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="subject">Betreff</label>
                            <div class="col-md-4">
                                <input id="subject" name="subject" type="text" placeholder="Betreff" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-12 control-label" align="center" for="text" style="text-align: center;">Deine Nachricht:</label>
                        </div>
                        <div class="form-group" align="center">
                            <div class="col-md-6" style="float: none;">
                                <textarea class="form-control ctext" id="text" name="text"></textarea>
                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button id="" name="" class="btn btn-primary">Absenden</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    {% elseif title == "Über mich" %}
        <h1>{{ title }}</h1>

        <div class="well">
            {{ Content.Text|raw }}
        </div>
    {% elseif title == "Gästebuch" %}
        <h1>{{ title }}</h1>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_gbuch">Eintrag hinzufügen</button>

        <!-- Modal -->
        <div class="modal fade" id="modal_gbuch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Eintrag hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ path('gbuch.insert') }}" method="post">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="title">Titel</label>
                                    <div class="col-md-4">
                                        <input id="title" name="title" type="text" placeholder="Titel" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Name</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">E-Mail Adresse</label>
                                    <div class="col-md-4">
                                        <input id="email" name="email" type="email" placeholder="E-Mail Adresse" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label" for="text">Text:</label>
                                    <div class="col-md-12">
                                        <textarea class="form-control ctext" id="text" name="text"></textarea>
                                    </div>
                                </div>

                                <p>Bitte beachte, dass jeder Eintrag erst manuell geprüft wird,<br> und daher nicht direkt auf der Seite erscheint!</p>

                                <input type="hidden" name="csrf_token" value="{{ app.session.get('_token') }}">

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for=""></label>
                                    <div class="col-md-4">
                                        <button id="" name="" class="btn btn-primary">Absenden</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if content is not empty %}
            {% for ct in content %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{ ct.Title }}</b></h3>
                    </div>
                    <div class="panel-body">
                        {{ ct.Text|raw }}
                    </div>
                    <div class="panel-footer">
                        von <b>{{ ct.Name }}</b> am <b>{{ ct.Date }}</b>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Es sind keine Einträge vorhanden!
            </div>
        {% endif %}
    {% elseif title == "Teamspeak" %}
        <h1>{{ title }}</h1>

        <div class="well">
            <p>Den Thamian Community Teamspeak findest du unter <b>thamian.de</b>.</p>
            <p>Durch einen Klick auf den unten stehenden Button kannst du dich mit dem Server verbinden:</p>
            <a href="ts3server://thamian.de" class="btn btn-default"><i class="fa fa-microphone" aria-hidden="true"></i> Verbinden</a>
            <hr>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_viewer"><i class="fa fa-eye" aria-hidden="true"></i> Aktuelle Clients anzeigen</button>

            <!-- Modal -->
            <div class="modal fade" id="modal_viewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Aktuelle Clients</h4>
                        </div>
                        <div class="modal-body modal_body_viewer" align="left"></div>
                    </div>
                </div>
            </div>
        </div>
    {% elseif title == "Gamingserver" %}
        <h1>{{ title }}</h1>

        <div class="well">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi officia unde vitae? Dolores doloribus iste repudiandae sit sunt! Blanditiis deserunt incidunt laborum molestiae odio possimus quis ratione tempora vel.
            </p>
        </div>
    {% endif %}
{% endblock %}